<!DOCTYPE html>
<html lang="{%if page.lang %}{{page.lang}}{%else%}it{%endif%}">

<head>
  <meta charset="utf-8" />
  <meta name="description" content="Alessandro Lorenzi Homepage" />

  <title>
    {% if page.title %} {{ page.title }} | {% endif %}Alessandro Lorenzi
  </title>
  <link href="/media/site-screen.css" type="text/css" rel="stylesheet" media="screen" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <div class="head">
    <a href="/">Alessandro Lorenzi</a>
  </div>
  <div class="mainbody">
    <div id="content">{{ content }}</div>

    <h2>
      Posts
      <a href="https://alorenzi.eu/feed.xml">
        <img src="/media/rss.png" alt="RSS Feed" style="width: 0.6em; height: 0.6em;" />
      </a>
    </h2>
    <ul>
      {% for post in site.posts %}
      <li>
        {{post.date | date: "%-d %B %Y"}} -
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
</body>

</html>