<!DOCTYPE html>

<html lang="{%if page.lang %}{{page.lang}}{%else%}it{%endif%}">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="description"
    content="{% if page.description %}{{ page.description }}{% else %}A post about: {{ page.title }}{% endif %}" />
  <title>
    {% if page.title %} {{ page.title }} | {% endif %}Alessandro Lorenzi
  </title>
  <link href="/media/site-screen.css" type="text/css" rel="stylesheet" media="screen" />
  <link href="/media/dracula.css" type="text/css" rel="stylesheet" media="screen" />
</head>

<body>
  <div class="head">
    <a href="/">Alessandro Lorenzi</a>
  </div>
  <div class="mainbody">
    <h1>{{page.title}}</h1>
    {% if page.image %}
    <img src="/media/post-images/{{page.image}}" class="postimage" />
    {% endif %}
    <div class="postcontent">{{content}}</div>
    <div class="postedby">
      Posted by {{ page.author }} on {{ page.date | date_to_string }}
    </div>
  </div>
</body>

</html>